﻿body {
    background-image: url('../Content/Ressources/body-pattern.png');
}
.banner {
    height: 80px;
    background-color: #DF4B01;
    border-bottom: 30px solid darkslategray;
    box-shadow: 5px 5px 5px;
}
.bannerRow {
    background-image: url('../Content/Ressources/search-panel-orange.png');
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    font-size: 29px;
    margin-top: 10px;
    text-align: center;
    color: unset;
    font-weight: bolder;
    font-family: tahoma;
}
p {
    font-family: courier;
    font-weight: 600;
    margin-left: 50px;
    color: unset;
}

.logoBack {
    background-image: url('../Content/Ressources/logo.jpg');
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    height: 45px;
    width: 45px;
    color: ghostwhite;
    font-weight: 900;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.logoContainer {
    margin: 10px 0px 0px 10px;
}
.badge {
    background-color: black;
    border-radius: 8px;
}
.label {
    font-size: 90%;
    background-color: darkred;
    margin-left: 3;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
    padding-bottom: 6px;
}
.txtAr {
    margin-top: 20px;
    color: darkblue;
    font-size:18px;
}
.source {
    color: darkblue;
}
#destinationTextArea {
    color: darkblue;
    font-weight: bold;
    font-size:18px;
}
.slct {
    width: 200px;
    font-size: 15px;
    height: 28px;
    margin: 0px;
    padding: 3px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0;
}
#convertBtn {
    background-color: #07754c;
    height: 45px;
    width: 200px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}
.approachOption {
    background-color: #5b456336;
    height: 45px;
    border-radius: 20px;
    margin-top: 80px;
}
.aaprchopts {
    font-size: 15px;
    height: 35px;
    background-color: transparent;
    margin-top: 3px;
    font-size: 18px;
    color: black;
}