﻿@{
    ViewBag.Title = "Home Page";
}
@{ Layout = null;}
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<<<<<<< HEAD
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Style/Style.css")" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {
            $("#convertBtn").click(function () {
                $("#destinationTextArea").html(" ");
                var sourceLanguage = $("#sourceTextArea").val();
                var Approach = $("#approachSelector").val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Translate", "Home")?sourceLanguage=' + sourceLanguage + '&approach=' + Approach+' ',
=======
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#convertBtn").click(function () {
                var sourceLanguage = $("#sourceTextArea").val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Translate", "Home")?sourceLanguage=' + sourceLanguage+' ',
>>>>>>> 542dec451ca80d0f0698653ca9c1f84c8b72554b
                    success: function (result) {
                        $("#destinationTextArea").html(result);
                    }
                });
            });
        });
    </script>
</head>
<<<<<<< HEAD
<body>
    <div class="container-fluid banner">
        <div class="row bannerRow">
            <div class="col-md-4">
                <div class="logoContainer">
                    <div class="logoBack"><h1>S</h1></div>
                    <div class="logoBack"><h1>M</h1></div>
                    <div class="logoBack"><h1>T</h1></div>
                </div>
            </div>
            <div class="col-md-4">
                <h1 style="">Natural Language Processing</h1>
                <p><span class="badge ">Statistical Machine Translation Approach</span></p>
=======
<body style="background-color:aliceblue">
    <div class="container-fluid" style="height:120px;background-color:navy">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 style="text-align:center;color:white;font-weight:bolder;" >Language Translator</h1>
>>>>>>> 542dec451ca80d0f0698653ca9c1f84c8b72554b
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
<<<<<<< HEAD
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 approachOption">
                <div class="form-group">                   
                    <select class="form-control pull-roght aaprchopts" id="approachSelector">
                        <option style="font-weight:bold">Select Approach</option>
                        <option>Transfer Approach</option>
                        <option disabled>Interlingua Approach</option>
                        <option>Direct Approach</option>
                        <option>Statistical Translation</option>
                        <option disabled>Corpus-based Approach</option>
                        <option disabled>Word-For-Word Approach</option>
                    </select>
                </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div class="container jumbotron" style="margin-top:20px">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <span class="label label-primary pull-left">Source:</span>
                    <select class="form-control pull-left slct">
                        <option>English</option>
                        <option disabled>Bangla</option>
                    </select>
                    <textarea class="form-control txtAr source" rows="5" id="sourceTextArea"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <span class="label label-primary pull-left">Destination:</span>
                    <select class="form-control pull-left slct">
                        <option disabled>English</option>
                        <option>Bangla</option>
                    </select>
                    <textarea class="form-control txtAr destination" rows="5" id="destinationTextArea"></textarea>
=======
    <div class="container" style="margin-top:100px">
        <div class="row">
            
            <div class="col-md-5">
                <div class="form-group">
                    <label for="usr">Source</label>
                    <textarea class="form-control" rows="5" id="sourceTextArea"></textarea>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="usr">Destination</label>
                    <textarea class="form-control" rows="5" id="destinationTextArea"></textarea>
>>>>>>> 542dec451ca80d0f0698653ca9c1f84c8b72554b
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
<<<<<<< HEAD
                <button type="button" class="btn btn-primary danger" id="convertBtn">TRANSLATE</button>
=======
                <button type="button" class="btn btn-primary active" id="convertBtn">Convert</button>
>>>>>>> 542dec451ca80d0f0698653ca9c1f84c8b72554b
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
</html>
